.container {
	display: grid;
	grid-template-columns: 7fr 3fr;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 20px;
}

.myId {
	margin-right: 5rem;
	border-radius: 5px;
	background: #c9d6ff; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #e2e2e2, #c9d6ff); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#e2e2e2,
		#c9d6ff
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	padding: 2rem;
	display: grid;
	justify-content: center;
	align-content: center;
}

.call-button {
	text-align: center;
	margin-top: 2rem;
}

.video-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	align-content: center;
	margin-top: 6rem;
	margin-bottom: 2rem;
	margin-left: 10rem;
}

.caller {
	text-align: center;
	color: #fff;
}

.transcription-box {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.transcription-box Button{
	margin-top: 20px;
}

body {
	background-color: #F2F9FF;
}

.speech-text {
	position: absolute;
	top: 10%;
	right: 5%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
  }


.login-container {
	background-color: #7fcbfa;
	width: 100%;
	height: 100vh;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.login-container h2 {
	color: #042699;
}

.login-container button {
	color: white;
	background-color: #042699;
	border: solid 5px white;
	width: 200px;
	height: 50px;
	border-radius: 25px;
}
  
.login-container button span {
	color: white;
	font-weight: bold;
	font-size: 15px; 
}

.chat-heading {
	font-size: 24px;
    font-weight: bold;
    color: #2c3e50;
	margin-top: 20px
}

.chat-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.chat-container h2 {
	color:#042699;
}

.chat-box {
	display: flex;
	flex-direction: column;
	width: 80%;
}

.chat-input {
	position: fixed;
	bottom: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
}

.chat-input input {
	color: white;
	background-color: #083858;
	border: solid 5px #3498db;
	width: 600px;
	height: 60px;
	border-radius: 4px;
	padding: 12px;
}

.chat-input input::placeholder {
	color: white;
}

.chat-input button {
	background-color: #3498db;
	color: white; 
	border: solid 5px #3498db;
	height: 60px;
	width: 50px;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.chat-message {
	max-width: 60%;
	padding: 10px;
	border-radius: 10px;
	word-wrap: break-word;
	max-height: 60px;
	margin: 10px;
  }

  .chat-message p {
	margin: 0;
  }
  
  .sent {
	align-self: flex-end;
	background-color: rgb(169, 217, 239);
	color: black;
	border-radius: 10px 10px 0 10px;
  }
  
  .received {
	align-self: flex-start;
	background-color: #f1f1f1;
	color: black;
	border-radius: 10px 10px 10px 0;
  }
  
  .timestamp {
	font-size: 12px;
	color: gray;
	display: block;
	margin-top: 5px;
  }

  .mentor-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.mentor-heading {
	font-size: 24px;
    font-weight: bold;
    color: #2c3e50;
	margin-top: 30px;
}  

.mentor-cards {
	display: flex;
	flex-direction: row;
	gap: 50px;
}

.mentor-card {
	font-family: Montserrat, sans-serif;
	width: 350px;
	height: 200px;
	translate: -6px -6px;
	background: #083858;
	border: 3px solid #000000;
	box-shadow: 12px 12px 0 #000000;
	overflow: hidden;
	transition: all 0.3s ease;
	margin-top: 30px
  }
  
  .mentor-head {
	font-family: Montserrat, sans-serif;
	font-size: 18px;
	font-weight: 900;
	width: 100%;
	height: 40px;
	background: #ffffff;
	padding: 5px 12px;
	color: #000000;
	border-bottom: 3px solid #000000;
  }
  
  .mentor-content {
	padding: 8px 12px;
	font-size: 16px;
	font-weight: 600;
	color: white;
  }

  .mentor-buttons {
	display: flex;
	flex-direction: row;
	gap: 20px;
  }
  
  .mentor-button {
	padding: 5px 10px;
	margin-top: 10px;
	border: 3px solid #000000;
	box-shadow: 3px 3px 0 #000000;
	font-weight: 750;
	background: #3498db;
	transition: all 0.3s ease;
	cursor: pointer;
  }
  
  .mentor-button:hover {
	translate: 1.5px 1.5px;
	box-shadow: 1.5px 1.5px 0 #000000;
	background: #3498db;
  }
  
  .mentor-button:active {
	translate: 3px 3px;
	box-shadow: 0 0 0 #000000;
  }
  
  .mentor-card:hover {
	translate: -6px;
  }
  
 .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #083858;
    color: #fff;
    padding: 13px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	width: 100%;
}

 .navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar .nav-links .btn {
    background-color: #3498db;
    border: none;
    color: #fff;
    padding: 8px 15px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

 .navbar .nav-links .logout-btn {
    background-color: #d9534f;
    border: none;
    color: #fff;
    padding: 8px 15px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

 .navbar .nav-links .btn:hover {
    background-color: #2980b9;
}

 .navbar .nav-links .logout-btn:hover {
    background-color: #d8332d;
}