.container {
	display: grid;
	grid-template-columns: 7fr 3fr;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 20px;
}

.myId {
	margin-right: 5rem;
	border-radius: 5px;
	background: #c9d6ff; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #e2e2e2, #c9d6ff); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#e2e2e2,
		#c9d6ff
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	padding: 2rem;
	display: grid;
	justify-content: center;
	align-content: center;
}

.call-button {
	text-align: center;
	margin-top: 2rem;
}

.video-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	align-content: center;
	margin-top: 6rem;
	margin-bottom: 2rem;
	margin-left: 10rem;
}

.caller {
	text-align: center;
	color: #fff;
}

.transcription-box {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.transcription-box Button{
	margin-top: 20px;
}

body {
	background-color: #7fcbfa;
}

.speech-text {
	position: absolute;
	top: 10%;
	right: 5%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
  }


.login-container {
	background-color: #7fcbfa;
	width: 100%;
	height: 100vh;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.login-container h2 {
	color: #042699;
}

.login-container button {
	color: white;
	background-color: #042699;
	border: solid 5px white;
	width: 200px;
	height: 50px;
	border-radius: 25px;
}
  
.login-container button span {
	color: white;
	font-weight: bold;
	font-size: 15px; 
}

.chat-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.chat-container h2 {
	color:#042699;
}

.chat-box {
	display: flex;
	flex-direction: column;
	width: 80%;
}

.chat-input {
	position: fixed;
	bottom: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.chat-input input {
	color: white;
	background-color: #042699;
	border: solid 5px white;
	width: 400px;
	height: 30px;
	border-radius: 4px;
	padding: 8px;
}

.chat-input input::placeholder {
	color: white;
}

.chat-input button {
	background-color: white;
	color: #042699; 
	border: solid 5px white;
	height: 55px;
	border-radius: 4px;
}

.chat-message {
	max-width: 60%;
	padding: 10px;
	border-radius: 10px;
	word-wrap: break-word;
	max-height: 50px;
	margin: 10px;
  }

  .chat-message p {
	margin: 0;
  }
  
  .sent {
	align-self: flex-end;
	background-color: rgb(169, 217, 239);
	color: black;
	border-radius: 10px 10px 0 10px;
  }
  
  .received {
	align-self: flex-start;
	background-color: #f1f1f1;
	color: black;
	border-radius: 10px 10px 10px 0;
  }
  
  .timestamp {
	font-size: 12px;
	color: gray;
	display: block;
	margin-top: 5px;
  }